# Wrangle And Analyze Data

**Author:** Ken Norton (ken@kennethnorton.com)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Wrangle-And-Analyze-Data" data-toc-modified-id="Wrangle-And-Analyze-Data-1">Wrangle And Analyze Data</a></span></li></ul></div>

In [179]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy as sp
import sklearn
import statsmodels.api as sm
import matplotlib as mpl
import matplotlib.pyplot as plt

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [180]:
plt.style.use('fivethirtyeight')
plt.style.use('seaborn-poster')

# Expand column width so I can see long tweets
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.expand_frame_repr', False)

In [181]:
df = pd.read_csv('data/twitter-archive-enhanced.csv')
df_img = pd.read_csv('data/image-predictions.tsv', sep='\t')

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [183]:
# Remove retweets
df = df[df['retweeted_status_id'].isna() == True]

In [184]:
df.head()

             tweet_id  in_reply_to_status_id  in_reply_to_user_id                  timestamp                                             source                                               text  retweeted_status_id  retweeted_status_user_id retweeted_status_timestamp                                      expanded_urls  rating_numerator  rating_denominator      name doggo floofer pupper puppo
0  892420643555336193                    NaN                  NaN  2017-08-01 16:23:56 +0000  <a href="http://twitter.com/download/iphone" r...  This is Phineas. He's a mystical boy. Only eve...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/892420643...                13                  10   Phineas  None    None   None  None
1  892177421306343426                    NaN                  NaN  2017-08-01 00:17:27 +0000  <a href="http://twitter.com/download/iphone" r...  This is Tilly. She's just checking pup on you....                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/892177421...                13                  10     Tilly  None    None   None  None
2  891815181378084864                    NaN                  NaN  2017-07-31 00:18:03 +0000  <a href="http://twitter.com/download/iphone" r...  This is Archie. He is a rare Norwegian Pouncin...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891815181...                12                  10    Archie  None    None   None  None
3  891689557279858688                    NaN                  NaN  2017-07-30 15:58:51 +0000  <a href="http://twitter.com/download/iphone" r...  This is Darla. She commenced a snooze mid meal...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891689557...                13                  10     Darla  None    None   None  None
4  891327558926688256                    NaN                  NaN  2017-07-29 16:00:24 +0000  <a href="http://twitter.com/download/iphone" r...  This is Franklin. He would like you to stop ca...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891327558...                12                  10  Franklin  None    None   None  None

In [185]:
df.describe()

           tweet_id  in_reply_to_status_id  in_reply_to_user_id  retweeted_status_id  retweeted_status_user_id  rating_numerator  rating_denominator
count  2.175000e+03           7.800000e+01         7.800000e+01                  0.0                       0.0       2175.000000         2175.000000
mean   7.371205e+17           7.455079e+17         2.014171e+16                  NaN                       NaN         13.215172           10.492874
std    6.748668e+16           7.582492e+16         1.252797e+17                  NaN                       NaN         47.725696            7.019084
min    6.660209e+17           6.658147e+17         1.185634e+07                  NaN                       NaN          0.000000            0.000000
25%    6.768432e+17           6.757419e+17         3.086374e+08                  NaN                       NaN         10.000000           10.000000
50%    7.098528e+17           7.038708e+17         4.196984e+09                  NaN                       NaN         11.000000           10.000000
75%    7.894226e+17           8.257804e+17         4.196984e+09                  NaN                       NaN         12.000000           10.000000
max    8.924206e+17           8.862664e+17         8.405479e+17                  NaN                       NaN       1776.000000          170.000000

In [186]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2175 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2175 non-null object
source                        2175 non-null object
text                          2175 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 2117 non-null object
rating_numerator              2175 non-null int64
rating_denominator            2175 non-null int64
name                          2175 non-null object
doggo                         2175 non-null object
floofer                       2175 non-null object
pupper                        2175 non-null object
puppo                         2175 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 305.9+ KB

In [187]:
df_img.head()

             tweet_id                                          jpg_url  img_num                      p1   p1_conf  p1_dog                  p2   p2_conf  p2_dog                   p3   p3_conf  p3_dog
0  666020888022790149  https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg        1  Welsh_springer_spaniel  0.465074    True              collie  0.156665    True    Shetland_sheepdog  0.061428    True
1  666029285002620928  https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg        1                 redbone  0.506826    True  miniature_pinscher  0.074192    True  Rhodesian_ridgeback  0.072010    True
2  666033412701032449  https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg        1         German_shepherd  0.596461    True            malinois  0.138584    True           bloodhound  0.116197    True
3  666044226329800704  https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg        1     Rhodesian_ridgeback  0.408143    True             redbone  0.360687    True   miniature_pinscher  0.222752    True
4  666049248165822465  https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg        1      miniature_pinscher  0.560311    True          Rottweiler  0.243682    True             Doberman  0.154629    True

In [188]:
# Join the image predictions
df = df.set_index('tweet_id').join(df_img.set_index('tweet_id'), how='inner')
df.head()

                    in_reply_to_status_id  in_reply_to_user_id                  timestamp                                             source                                               text  retweeted_status_id  retweeted_status_user_id retweeted_status_timestamp                                      expanded_urls  rating_numerator  rating_denominator      name doggo floofer pupper puppo                                          jpg_url  img_num           p1   p1_conf  p1_dog                  p2   p2_conf  p2_dog                           p3   p3_conf  p3_dog
tweet_id
892420643555336193                    NaN                  NaN  2017-08-01 16:23:56 +0000  <a href="http://twitter.com/download/iphone" r...  This is Phineas. He's a mystical boy. Only eve...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/892420643...                13                  10   Phineas  None    None   None  None  https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg        1       orange  0.097049   False               bagel  0.085851   False                       banana  0.076110   False
892177421306343426                    NaN                  NaN  2017-08-01 00:17:27 +0000  <a href="http://twitter.com/download/iphone" r...  This is Tilly. She's just checking pup on you....                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/892177421...                13                  10     Tilly  None    None   None  None  https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg        1    Chihuahua  0.323581    True            Pekinese  0.090647    True                     papillon  0.068957    True
891815181378084864                    NaN                  NaN  2017-07-31 00:18:03 +0000  <a href="http://twitter.com/download/iphone" r...  This is Archie. He is a rare Norwegian Pouncin...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891815181...                12                  10    Archie  None    None   None  None  https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg        1    Chihuahua  0.716012    True            malamute  0.078253    True                       kelpie  0.031379    True
891689557279858688                    NaN                  NaN  2017-07-30 15:58:51 +0000  <a href="http://twitter.com/download/iphone" r...  This is Darla. She commenced a snooze mid meal...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891689557...                13                  10     Darla  None    None   None  None  https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg        1  paper_towel  0.170278   False  Labrador_retriever  0.168086    True                      spatula  0.040836   False
891327558926688256                    NaN                  NaN  2017-07-29 16:00:24 +0000  <a href="http://twitter.com/download/iphone" r...  This is Franklin. He would like you to stop ca...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891327558...                12                  10  Franklin  None    None   None  None  https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg        2       basset  0.555712    True    English_springer  0.225770    True  German_short-haired_pointer  0.175219    True

In [190]:
# Create a new array of all of the dog breeds detected
# from the image predictions
dogs = np.unique(
    np.concatenate((df.query('p1_dog == True').p1.unique(),
                    df.query('p2_dog == True').p2.unique(),
                    df.query('p3_dog == True').p3.unique())))
dogs = np.array([x.lower() if isinstance(x, str) else x for x in dogs])

In [198]:
df.describe()

       in_reply_to_status_id  in_reply_to_user_id  retweeted_status_id  retweeted_status_user_id  rating_numerator  rating_denominator      img_num      p1_conf       p2_conf       p3_conf
count           2.300000e+01         2.300000e+01                  0.0                       0.0       1994.000000         1994.000000  1994.000000  1994.000000  1.994000e+03  1.994000e+03
mean            6.978112e+17         4.196984e+09                  NaN                       NaN         12.280843           10.532096     1.203109     0.593941  1.344195e-01  6.024848e-02
std             4.359384e+16         0.000000e+00                  NaN                       NaN         41.497718            7.320710     0.560777     0.271954  1.006807e-01  5.089067e-02
min             6.671522e+17         4.196984e+09                  NaN                       NaN          0.000000            2.000000     1.000000     0.044333  1.011300e-08  1.740170e-10
25%             6.732411e+17         4.196984e+09                  NaN                       NaN         10.000000           10.000000     1.000000     0.362857  5.393988e-02  1.619283e-02
50%             6.757073e+17         4.196984e+09                  NaN                       NaN         11.000000           10.000000     1.000000     0.587635  1.174550e-01  4.950530e-02
75%             7.031489e+17         4.196984e+09                  NaN                       NaN         12.000000           10.000000     1.000000     0.846285  1.951377e-01  9.159438e-02
max             8.558181e+17         4.196984e+09                  NaN                       NaN       1776.000000          170.000000     4.000000     1.000000  4.880140e-01  2.734190e-01