# Wrangle And Analyze Data

**Author:** Ken Norton (ken@kennethnorton.com)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Wrangle-And-Analyze-Data" data-toc-modified-id="Wrangle-And-Analyze-Data-1">Wrangle And Analyze Data</a></span><ul class="toc-item"><li><span><a href="#Gather" data-toc-modified-id="Gather-1.1">Gather</a></span></li><li><span><a href="#Assess" data-toc-modified-id="Assess-1.2">Assess</a></span></li><li><span><a href="#Clean" data-toc-modified-id="Clean-1.3">Clean</a></span><ul class="toc-item"><li><span><a href="#Quality-Issue:-Fix-Data-Types" data-toc-modified-id="Quality-Issue:-Fix-Data-Types-1.3.1">Quality Issue: Fix Data Types</a></span></li><li><span><a href="#Quality-Issue:-Doggie-Stage-Columns" data-toc-modified-id="Quality-Issue:-Doggie-Stage-Columns-1.3.2">Quality Issue: Doggie Stage Columns</a></span></li></ul></li></ul></li></ul></div>

## Gather

In [174]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy as sp
import sklearn
import json
import statsmodels.api as sm
import matplotlib as mpl
import matplotlib.pyplot as plt
import tweepy
from tweepy import OAuthHandler
import json
from timeit import default_timer as timer

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [175]:
# Matplotlib styles
plt.style.use('fivethirtyeight')
plt.style.use('seaborn-poster')

# Expand column width so I can see long tweets
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.expand_frame_repr', False)

In [176]:
df = pd.read_csv('data/twitter-archive-enhanced.csv')
df_img = pd.read_csv('data/image-predictions.tsv', sep='\t')

In [177]:
'''
# I've commented this out now that I've generated the file,
# it took 30+ minutes to run so no need to do it again!

# Import my Twitter API keys from separate file
%run twitter-api.py

# Use Twitter API to fetch metadata for tweet_ids
auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)

tweet_ids = df.tweet_id.values
len(tweet_ids)

# Query Twitter's API for JSON data for each tweet ID in the Twitter archive
count = 0
fails_dict = {}
start = timer()
# Save each tweet's returned JSON as a new line in a .txt file
with open('data/tweet_json.txt', 'w') as outfile:
    # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
    for tweet_id in tweet_ids:
        count += 1
        print(str(count) + ": " + str(tweet_id))
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            print("Success")
            json.dump(tweet._json, outfile)
            outfile.write('\n')
        except tweepy.TweepError as e:
            print("Fail")
            fails_dict[tweet_id] = e
            pass
end = timer()
print(end - start)
print(fails_dict)
'''
;

''

In [178]:
df_tweets = pd.read_json('data/tweet_json.txt', lines=True)

In [179]:
df_tweets.head()

   contributors  coordinates          created_at display_text_range                                           entities                                  extended_entities  favorite_count  favorited                                          full_text  geo                  id              id_str in_reply_to_screen_name  in_reply_to_status_id  in_reply_to_status_id_str  in_reply_to_user_id  in_reply_to_user_id_str  is_quote_status lang place  possibly_sensitive  possibly_sensitive_appealable quoted_status  quoted_status_id  quoted_status_id_str quoted_status_permalink  retweet_count  retweeted retweeted_status                                             source  truncated                                               user
0           NaN          NaN 2017-08-01 16:23:56            [0, 85]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 892420639486877696, 'id_str'...           37511      False  This is Phineas. He's a mystical boy. Only eve...  NaN  892420643555336193  892420643555336192                    None                    NaN                        NaN                  NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           8182      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...
1           NaN          NaN 2017-08-01 00:17:27           [0, 138]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 892177413194625024, 'id_str'...           32240      False  This is Tilly. She's just checking pup on you....  NaN  892177421306343426  892177421306343424                    None                    NaN                        NaN                  NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           6053      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...
2           NaN          NaN 2017-07-31 00:18:03           [0, 121]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 891815175371796480, 'id_str'...           24293      False  This is Archie. He is a rare Norwegian Pouncin...  NaN  891815181378084864  891815181378084864                    None                    NaN                        NaN                  NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           4004      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...
3           NaN          NaN 2017-07-30 15:58:51            [0, 79]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 891689552724799489, 'id_str'...           40854      False  This is Darla. She commenced a snooze mid meal...  NaN  891689557279858688  891689557279858688                    None                    NaN                        NaN                  NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           8324      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...
4           NaN          NaN 2017-07-29 16:00:24           [0, 138]  {'hashtags': [{'text': 'BarkWeek', 'indices': ...  {'media': [{'id': 891327551943041024, 'id_str'...           39059      False  This is Franklin. He would like you to stop ca...  NaN  891327558926688256  891327558926688256                    None                    NaN                        NaN                  NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           9032      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...

## Assess

In [180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [181]:
df.head()

             tweet_id  in_reply_to_status_id  in_reply_to_user_id                  timestamp                                             source                                               text  retweeted_status_id  retweeted_status_user_id retweeted_status_timestamp                                      expanded_urls  rating_numerator  rating_denominator      name doggo floofer pupper puppo
0  892420643555336193                    NaN                  NaN  2017-08-01 16:23:56 +0000  <a href="http://twitter.com/download/iphone" r...  This is Phineas. He's a mystical boy. Only eve...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/892420643...                13                  10   Phineas  None    None   None  None
1  892177421306343426                    NaN                  NaN  2017-08-01 00:17:27 +0000  <a href="http://twitter.com/download/iphone" r...  This is Tilly. She's just checking pup on you....                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/892177421...                13                  10     Tilly  None    None   None  None
2  891815181378084864                    NaN                  NaN  2017-07-31 00:18:03 +0000  <a href="http://twitter.com/download/iphone" r...  This is Archie. He is a rare Norwegian Pouncin...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891815181...                12                  10    Archie  None    None   None  None
3  891689557279858688                    NaN                  NaN  2017-07-30 15:58:51 +0000  <a href="http://twitter.com/download/iphone" r...  This is Darla. She commenced a snooze mid meal...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891689557...                13                  10     Darla  None    None   None  None
4  891327558926688256                    NaN                  NaN  2017-07-29 16:00:24 +0000  <a href="http://twitter.com/download/iphone" r...  This is Franklin. He would like you to stop ca...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891327558...                12                  10  Franklin  None    None   None  None

In [182]:
df.describe()

           tweet_id  in_reply_to_status_id  in_reply_to_user_id  retweeted_status_id  retweeted_status_user_id  rating_numerator  rating_denominator
count  2.356000e+03           7.800000e+01         7.800000e+01         1.810000e+02              1.810000e+02       2356.000000         2356.000000
mean   7.427716e+17           7.455079e+17         2.014171e+16         7.720400e+17              1.241698e+16         13.126486           10.455433
std    6.856705e+16           7.582492e+16         1.252797e+17         6.236928e+16              9.599254e+16         45.876648            6.745237
min    6.660209e+17           6.658147e+17         1.185634e+07         6.661041e+17              7.832140e+05          0.000000            0.000000
25%    6.783989e+17           6.757419e+17         3.086374e+08         7.186315e+17              4.196984e+09         10.000000           10.000000
50%    7.196279e+17           7.038708e+17         4.196984e+09         7.804657e+17              4.196984e+09         11.000000           10.000000
75%    7.993373e+17           8.257804e+17         4.196984e+09         8.203146e+17              4.196984e+09         12.000000           10.000000
max    8.924206e+17           8.862664e+17         8.405479e+17         8.874740e+17              7.874618e+17       1776.000000          170.000000

In [183]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [184]:
df_img.head()

             tweet_id                                          jpg_url  img_num                      p1   p1_conf  p1_dog                  p2   p2_conf  p2_dog                   p3   p3_conf  p3_dog
0  666020888022790149  https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg        1  Welsh_springer_spaniel  0.465074    True              collie  0.156665    True    Shetland_sheepdog  0.061428    True
1  666029285002620928  https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg        1                 redbone  0.506826    True  miniature_pinscher  0.074192    True  Rhodesian_ridgeback  0.072010    True
2  666033412701032449  https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg        1         German_shepherd  0.596461    True            malinois  0.138584    True           bloodhound  0.116197    True
3  666044226329800704  https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg        1     Rhodesian_ridgeback  0.408143    True             redbone  0.360687    True   miniature_pinscher  0.222752    True
4  666049248165822465  https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg        1      miniature_pinscher  0.560311    True          Rottweiler  0.243682    True             Doberman  0.154629    True

## Clean

In [185]:
# Join the tweet metadata from the API
df = df.set_index('tweet_id').join(df_tweets.set_index('id'),
                                   how='inner',
                                   rsuffix="_x")
df.head()

                    in_reply_to_status_id  in_reply_to_user_id                  timestamp                                             source                                               text  retweeted_status_id  retweeted_status_user_id retweeted_status_timestamp                                      expanded_urls  rating_numerator  rating_denominator      name doggo floofer pupper puppo  contributors  coordinates          created_at display_text_range                                           entities                                  extended_entities  favorite_count  favorited                                          full_text  geo              id_str in_reply_to_screen_name  in_reply_to_status_id_x  in_reply_to_status_id_str  in_reply_to_user_id_x  in_reply_to_user_id_str  is_quote_status lang place  possibly_sensitive  possibly_sensitive_appealable quoted_status  quoted_status_id  quoted_status_id_str quoted_status_permalink  retweet_count  retweeted retweeted_status                                           source_x  truncated                                               user
892420643555336193                    NaN                  NaN  2017-08-01 16:23:56 +0000  <a href="http://twitter.com/download/iphone" r...  This is Phineas. He's a mystical boy. Only eve...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/892420643...                13                  10   Phineas  None    None   None  None           NaN          NaN 2017-08-01 16:23:56            [0, 85]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 892420639486877696, 'id_str'...           37511      False  This is Phineas. He's a mystical boy. Only eve...  NaN  892420643555336192                    None                      NaN                        NaN                    NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           8182      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...
892177421306343426                    NaN                  NaN  2017-08-01 00:17:27 +0000  <a href="http://twitter.com/download/iphone" r...  This is Tilly. She's just checking pup on you....                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/892177421...                13                  10     Tilly  None    None   None  None           NaN          NaN 2017-08-01 00:17:27           [0, 138]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 892177413194625024, 'id_str'...           32240      False  This is Tilly. She's just checking pup on you....  NaN  892177421306343424                    None                      NaN                        NaN                    NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           6053      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...
891815181378084864                    NaN                  NaN  2017-07-31 00:18:03 +0000  <a href="http://twitter.com/download/iphone" r...  This is Archie. He is a rare Norwegian Pouncin...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891815181...                12                  10    Archie  None    None   None  None           NaN          NaN 2017-07-31 00:18:03           [0, 121]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 891815175371796480, 'id_str'...           24293      False  This is Archie. He is a rare Norwegian Pouncin...  NaN  891815181378084864                    None                      NaN                        NaN                    NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           4004      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...
891689557279858688                    NaN                  NaN  2017-07-30 15:58:51 +0000  <a href="http://twitter.com/download/iphone" r...  This is Darla. She commenced a snooze mid meal...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891689557...                13                  10     Darla  None    None   None  None           NaN          NaN 2017-07-30 15:58:51            [0, 79]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 891689552724799489, 'id_str'...           40854      False  This is Darla. She commenced a snooze mid meal...  NaN  891689557279858688                    None                      NaN                        NaN                    NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           8324      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...
891327558926688256                    NaN                  NaN  2017-07-29 16:00:24 +0000  <a href="http://twitter.com/download/iphone" r...  This is Franklin. He would like you to stop ca...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891327558...                12                  10  Franklin  None    None   None  None           NaN          NaN 2017-07-29 16:00:24           [0, 138]  {'hashtags': [{'text': 'BarkWeek', 'indices': ...  {'media': [{'id': 891327551943041024, 'id_str'...           39059      False  This is Franklin. He would like you to stop ca...  NaN  891327558926688256                    None                      NaN                        NaN                    NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           9032      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...

In [186]:
# Join the image predictions
df = df.join(df_img.set_index('tweet_id'), how='inner')
df.head()

                    in_reply_to_status_id  in_reply_to_user_id                  timestamp                                             source                                               text  retweeted_status_id  retweeted_status_user_id retweeted_status_timestamp                                      expanded_urls  rating_numerator  rating_denominator      name doggo floofer pupper puppo  contributors  coordinates          created_at display_text_range                                           entities                                  extended_entities  favorite_count  favorited                                          full_text  geo              id_str in_reply_to_screen_name  in_reply_to_status_id_x  in_reply_to_status_id_str  in_reply_to_user_id_x  in_reply_to_user_id_str  is_quote_status lang place  possibly_sensitive  possibly_sensitive_appealable quoted_status  quoted_status_id  quoted_status_id_str quoted_status_permalink  retweet_count  retweeted retweeted_status                                           source_x  truncated                                               user                                          jpg_url  img_num           p1   p1_conf  p1_dog                  p2   p2_conf  p2_dog                           p3   p3_conf  p3_dog
892420643555336193                    NaN                  NaN  2017-08-01 16:23:56 +0000  <a href="http://twitter.com/download/iphone" r...  This is Phineas. He's a mystical boy. Only eve...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/892420643...                13                  10   Phineas  None    None   None  None           NaN          NaN 2017-08-01 16:23:56            [0, 85]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 892420639486877696, 'id_str'...           37511      False  This is Phineas. He's a mystical boy. Only eve...  NaN  892420643555336192                    None                      NaN                        NaN                    NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           8182      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...  https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg        1       orange  0.097049   False               bagel  0.085851   False                       banana  0.076110   False
892177421306343426                    NaN                  NaN  2017-08-01 00:17:27 +0000  <a href="http://twitter.com/download/iphone" r...  This is Tilly. She's just checking pup on you....                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/892177421...                13                  10     Tilly  None    None   None  None           NaN          NaN 2017-08-01 00:17:27           [0, 138]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 892177413194625024, 'id_str'...           32240      False  This is Tilly. She's just checking pup on you....  NaN  892177421306343424                    None                      NaN                        NaN                    NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           6053      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...  https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg        1    Chihuahua  0.323581    True            Pekinese  0.090647    True                     papillon  0.068957    True
891815181378084864                    NaN                  NaN  2017-07-31 00:18:03 +0000  <a href="http://twitter.com/download/iphone" r...  This is Archie. He is a rare Norwegian Pouncin...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891815181...                12                  10    Archie  None    None   None  None           NaN          NaN 2017-07-31 00:18:03           [0, 121]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 891815175371796480, 'id_str'...           24293      False  This is Archie. He is a rare Norwegian Pouncin...  NaN  891815181378084864                    None                      NaN                        NaN                    NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           4004      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...  https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg        1    Chihuahua  0.716012    True            malamute  0.078253    True                       kelpie  0.031379    True
891689557279858688                    NaN                  NaN  2017-07-30 15:58:51 +0000  <a href="http://twitter.com/download/iphone" r...  This is Darla. She commenced a snooze mid meal...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891689557...                13                  10     Darla  None    None   None  None           NaN          NaN 2017-07-30 15:58:51            [0, 79]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 891689552724799489, 'id_str'...           40854      False  This is Darla. She commenced a snooze mid meal...  NaN  891689557279858688                    None                      NaN                        NaN                    NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           8324      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...  https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg        1  paper_towel  0.170278   False  Labrador_retriever  0.168086    True                      spatula  0.040836   False
891327558926688256                    NaN                  NaN  2017-07-29 16:00:24 +0000  <a href="http://twitter.com/download/iphone" r...  This is Franklin. He would like you to stop ca...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891327558...                12                  10  Franklin  None    None   None  None           NaN          NaN 2017-07-29 16:00:24           [0, 138]  {'hashtags': [{'text': 'BarkWeek', 'indices': ...  {'media': [{'id': 891327551943041024, 'id_str'...           39059      False  This is Franklin. He would like you to stop ca...  NaN  891327558926688256                    None                      NaN                        NaN                    NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           9032      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...  https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg        2       basset  0.555712    True    English_springer  0.225770    True  German_short-haired_pointer  0.175219    True

In [187]:
df.describe()

       in_reply_to_status_id  in_reply_to_user_id  retweeted_status_id  retweeted_status_user_id  rating_numerator  rating_denominator  contributors  coordinates  favorite_count  geo        id_str  in_reply_to_status_id_x  in_reply_to_status_id_str  in_reply_to_user_id_x  in_reply_to_user_id_str  possibly_sensitive  possibly_sensitive_appealable  quoted_status_id  quoted_status_id_str  retweet_count      img_num      p1_conf       p2_conf       p3_conf
count           2.300000e+01         2.300000e+01         7.500000e+01              7.500000e+01       2065.000000         2065.000000           0.0          0.0     2065.000000  0.0  2.065000e+03             2.300000e+01               2.300000e+01           2.300000e+01             2.300000e+01              2065.0                         2065.0               0.0                   0.0    2065.000000  2065.000000  2065.000000  2.065000e+03  2.065000e+03
mean            6.978112e+17         4.196984e+09         7.628386e+17              1.049949e+16         12.263438           10.513801           NaN          NaN     8274.839225  NaN  7.380289e+17             6.978112e+17               6.978112e+17           4.196984e+09             4.196984e+09                 0.0                            0.0               NaN                   NaN    2752.823245     1.203390     0.594381  1.347334e-01  6.036921e-02
std             4.359384e+16         0.000000e+00         5.813066e+16              9.092825e+16         40.778642            7.194349           NaN          NaN    12480.988168  NaN  6.760956e+16             4.359384e+16               4.359384e+16           0.000000e+00             0.000000e+00                 0.0                            0.0               NaN                   NaN    4801.211829     0.562291     0.270995  1.007085e-01  5.093950e-02
min             6.671522e+17         4.196984e+09         6.675094e+17              7.832140e+05          0.000000            2.000000           NaN          NaN        0.000000  NaN  6.660209e+17             6.671522e+17               6.671522e+17           4.196984e+09             4.196984e+09                 0.0                            0.0               NaN                   NaN      11.000000     1.000000     0.044333  1.011300e-08  1.740170e-10
25%             6.732411e+17         4.196984e+09         7.118465e+17              4.196984e+09         10.000000           10.000000           NaN          NaN     1577.000000  NaN  6.764309e+17             6.732411e+17               6.732411e+17           4.196984e+09             4.196984e+09                 0.0                            0.0               NaN                   NaN     586.000000     1.000000     0.364095  5.390140e-02  1.624560e-02
50%             6.757073e+17         4.196984e+09         7.761133e+17              4.196984e+09         11.000000           10.000000           NaN          NaN     3647.000000  NaN  7.116948e+17             6.757073e+17               6.757073e+17           4.196984e+09             4.196984e+09                 0.0                            0.0               NaN                   NaN    1297.000000     1.000000     0.587830  1.186220e-01  4.944380e-02
75%             7.031489e+17         4.196984e+09         7.981456e+17              4.196984e+09         12.000000           10.000000           NaN          NaN    10345.000000  NaN  7.931204e+17             7.031489e+17               7.031489e+17           4.196984e+09             4.196984e+09                 0.0                            0.0               NaN                   NaN    3173.000000     1.000000     0.843799  1.955730e-01  9.214290e-02
max             8.558181e+17         4.196984e+09         8.768508e+17              7.874618e+17       1776.000000          170.000000           NaN          NaN   162019.000000  NaN  8.924206e+17             8.558181e+17               8.558181e+17           4.196984e+09             4.196984e+09                 0.0                            0.0               NaN                   NaN   82408.000000     4.000000     1.000000  4.880140e-01  2.734190e-01

### Quality Issue: Fix Data Types

In [188]:
# Timestamp should be a datetime
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [189]:
df.dtypes

in_reply_to_status_id                        float64
in_reply_to_user_id                          float64
timestamp                        datetime64[ns, UTC]
source                                        object
text                                          object
retweeted_status_id                          float64
retweeted_status_user_id                     float64
retweeted_status_timestamp                    object
expanded_urls                                 object
rating_numerator                               int64
rating_denominator                             int64
name                                          object
doggo                                         object
floofer                                       object
pupper                                        object
puppo                                         object
contributors                                 float64
coordinates                                  float64
created_at                            datetime64[ns]
display_text_range                            object
entities                                      object
extended_entities                             object
favorite_count                                 int64
favorited                                       bool
full_text                                     object
geo                                          float64
id_str                                         int64
in_reply_to_screen_name                       object
in_reply_to_status_id_x                      float64
in_reply_to_status_id_str                    float64
in_reply_to_user_id_x                        float64
in_reply_to_user_id_str                      float64
is_quote_status                                 bool
lang                                          object
place                                         object
possibly_sensitive                           float64
possibly_sensitive_appealable                float64
quoted_status                                 object
quoted_status_id                             float64
quoted_status_id_str                         float64
quoted_status_permalink                       object
retweet_count                                  int64
retweeted                                       bool
retweeted_status                              object
source_x                                      object
truncated                                       bool
user                                          object
jpg_url                                       object
img_num                                        int64
p1                                            object
p1_conf                                      float64
p1_dog                                          bool
p2                                            object
p2_conf                                      float64
p2_dog                                          bool
p3                                            object
p3_conf                                      float64
p3_dog                                          bool
dtype: object

In [190]:
df.head()

                    in_reply_to_status_id  in_reply_to_user_id                 timestamp                                             source                                               text  retweeted_status_id  retweeted_status_user_id retweeted_status_timestamp                                      expanded_urls  rating_numerator  rating_denominator      name doggo floofer pupper puppo  contributors  coordinates          created_at display_text_range                                           entities                                  extended_entities  favorite_count  favorited                                          full_text  geo              id_str in_reply_to_screen_name  in_reply_to_status_id_x  in_reply_to_status_id_str  in_reply_to_user_id_x  in_reply_to_user_id_str  is_quote_status lang place  possibly_sensitive  possibly_sensitive_appealable quoted_status  quoted_status_id  quoted_status_id_str quoted_status_permalink  retweet_count  retweeted retweeted_status                                           source_x  truncated                                               user                                          jpg_url  img_num           p1   p1_conf  p1_dog                  p2   p2_conf  p2_dog                           p3   p3_conf  p3_dog
892420643555336193                    NaN                  NaN 2017-08-01 16:23:56+00:00  <a href="http://twitter.com/download/iphone" r...  This is Phineas. He's a mystical boy. Only eve...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/892420643...                13                  10   Phineas  None    None   None  None           NaN          NaN 2017-08-01 16:23:56            [0, 85]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 892420639486877696, 'id_str'...           37511      False  This is Phineas. He's a mystical boy. Only eve...  NaN  892420643555336192                    None                      NaN                        NaN                    NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           8182      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...  https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg        1       orange  0.097049   False               bagel  0.085851   False                       banana  0.076110   False
892177421306343426                    NaN                  NaN 2017-08-01 00:17:27+00:00  <a href="http://twitter.com/download/iphone" r...  This is Tilly. She's just checking pup on you....                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/892177421...                13                  10     Tilly  None    None   None  None           NaN          NaN 2017-08-01 00:17:27           [0, 138]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 892177413194625024, 'id_str'...           32240      False  This is Tilly. She's just checking pup on you....  NaN  892177421306343424                    None                      NaN                        NaN                    NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           6053      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...  https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg        1    Chihuahua  0.323581    True            Pekinese  0.090647    True                     papillon  0.068957    True
891815181378084864                    NaN                  NaN 2017-07-31 00:18:03+00:00  <a href="http://twitter.com/download/iphone" r...  This is Archie. He is a rare Norwegian Pouncin...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891815181...                12                  10    Archie  None    None   None  None           NaN          NaN 2017-07-31 00:18:03           [0, 121]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 891815175371796480, 'id_str'...           24293      False  This is Archie. He is a rare Norwegian Pouncin...  NaN  891815181378084864                    None                      NaN                        NaN                    NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           4004      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...  https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg        1    Chihuahua  0.716012    True            malamute  0.078253    True                       kelpie  0.031379    True
891689557279858688                    NaN                  NaN 2017-07-30 15:58:51+00:00  <a href="http://twitter.com/download/iphone" r...  This is Darla. She commenced a snooze mid meal...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891689557...                13                  10     Darla  None    None   None  None           NaN          NaN 2017-07-30 15:58:51            [0, 79]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 891689552724799489, 'id_str'...           40854      False  This is Darla. She commenced a snooze mid meal...  NaN  891689557279858688                    None                      NaN                        NaN                    NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           8324      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...  https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg        1  paper_towel  0.170278   False  Labrador_retriever  0.168086    True                      spatula  0.040836   False
891327558926688256                    NaN                  NaN 2017-07-29 16:00:24+00:00  <a href="http://twitter.com/download/iphone" r...  This is Franklin. He would like you to stop ca...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/891327558...                12                  10  Franklin  None    None   None  None           NaN          NaN 2017-07-29 16:00:24           [0, 138]  {'hashtags': [{'text': 'BarkWeek', 'indices': ...  {'media': [{'id': 891327551943041024, 'id_str'...           39059      False  This is Franklin. He would like you to stop ca...  NaN  891327558926688256                    None                      NaN                        NaN                    NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           9032      False              NaN  <a href="http://twitter.com/download/iphone" r...      False  {'id': 4196983835, 'id_str': '4196983835', 'na...  https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg        2       basset  0.555712    True    English_springer  0.225770    True  German_short-haired_pointer  0.175219    True

In [191]:
df.retweet_count.max()

82408

In [192]:
# Drop the duplicate columns from the join
df = df[df.columns.drop(list(df.filter(regex='_x')))]

In [193]:
df.dtypes

in_reply_to_status_id                        float64
in_reply_to_user_id                          float64
timestamp                        datetime64[ns, UTC]
source                                        object
text                                          object
retweeted_status_id                          float64
retweeted_status_user_id                     float64
retweeted_status_timestamp                    object
expanded_urls                                 object
rating_numerator                               int64
rating_denominator                             int64
name                                          object
doggo                                         object
floofer                                       object
pupper                                        object
puppo                                         object
contributors                                 float64
coordinates                                  float64
created_at                            datetime64[ns]
display_text_range                            object
entities                                      object
extended_entities                             object
favorite_count                                 int64
favorited                                       bool
full_text                                     object
geo                                          float64
id_str                                         int64
in_reply_to_screen_name                       object
in_reply_to_status_id_str                    float64
in_reply_to_user_id_str                      float64
is_quote_status                                 bool
lang                                          object
place                                         object
possibly_sensitive                           float64
possibly_sensitive_appealable                float64
quoted_status                                 object
quoted_status_id                             float64
quoted_status_id_str                         float64
quoted_status_permalink                       object
retweet_count                                  int64
retweeted                                       bool
retweeted_status                              object
truncated                                       bool
user                                          object
jpg_url                                       object
img_num                                        int64
p1                                            object
p1_conf                                      float64
p1_dog                                          bool
p2                                            object
p2_conf                                      float64
p2_dog                                          bool
p3                                            object
p3_conf                                      float64
p3_dog                                          bool
dtype: object

### Quality Issue: Doggie Stage Columns

WeRateDogs uses four "stages" – doggo, floofer, pupper, and puppo. These columns contain None or their string as a value. My first inclination is to just put all of these values in a single, new column called `doggie_stage` but first I wanted to make sure dogs couldn't be more than one type:

In [194]:
# Testing to see if any tweets are marked doggo and pupper
df.query('doggo == "doggo" and pupper == "pupper"').head()

                    in_reply_to_status_id  in_reply_to_user_id                 timestamp                                             source                                               text  retweeted_status_id  retweeted_status_user_id retweeted_status_timestamp                                      expanded_urls  rating_numerator  rating_denominator   name  doggo floofer  pupper puppo  contributors  coordinates          created_at display_text_range                                           entities                                  extended_entities  favorite_count  favorited                                          full_text  geo              id_str in_reply_to_screen_name  in_reply_to_status_id_str  in_reply_to_user_id_str  is_quote_status lang place  possibly_sensitive  possibly_sensitive_appealable quoted_status  quoted_status_id  quoted_status_id_str quoted_status_permalink  retweet_count  retweeted retweeted_status  truncated                                               user                                            jpg_url  img_num                      p1   p1_conf  p1_dog                     p2   p2_conf  p2_dog                   p3   p3_conf  p3_dog
817777686764523521                    NaN                  NaN 2017-01-07 16:59:28+00:00  <a href="http://twitter.com/download/iphone" r...  This is Dido. She's playing the lead role in "...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/817777686...                13                  10   Dido  doggo    None  pupper  None           NaN          NaN 2017-01-07 16:59:28           [0, 140]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 817777588030476288, 'id_str'...           11249      False  This is Dido. She's playing the lead role in "...  NaN  817777686764523520                    None                        NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           2879      False              NaN      False  {'id': 4196983835, 'id_str': '4196983835', 'na...  https://pbs.twimg.com/ext_tw_video_thumb/81777...        1  curly-coated_retriever  0.733256    True  flat-coated_retriever  0.214145    True  Irish_water_spaniel  0.029769    True
808106460588765185                    NaN                  NaN 2016-12-12 00:29:28+00:00  <a href="http://twitter.com/download/iphone" r...  Here we have Burke (pupper) and Dexter (doggo)...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/808106460...                12                  10   None  doggo    None  pupper  None           NaN          NaN 2016-12-12 00:29:28           [0, 120]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 808106447573843970, 'id_str'...            9241      False  Here we have Burke (pupper) and Dexter (doggo)...  NaN  808106460588765184                    None                        NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           2372      False              NaN      False  {'id': 4196983835, 'id_str': '4196983835', 'na...    https://pbs.twimg.com/media/Czb4iFRXgAIUMiN.jpg        1        golden_retriever  0.426183    True     Labrador_retriever  0.257447    True       Great_Pyrenees  0.126482    True
802265048156610565           7.331095e+17         4.196984e+09 2016-11-25 21:37:47+00:00  <a href="http://twitter.com/download/iphone" r...  Like doggo, like pupper version 2. Both 11/10 ...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/802265048...                11                  10   None  doggo    None  pupper  None           NaN          NaN 2016-11-25 21:37:47            [0, 45]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 802265039247904768, 'id_str'...            6984      False  Like doggo, like pupper version 2. Both 11/10 ...  NaN  802265048156610560               dog_rates               7.331095e+17             4.196984e+09            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           1478      False              NaN      False  {'id': 4196983835, 'id_str': '4196983835', 'na...    https://pbs.twimg.com/media/CyI3zXgWEAACQfB.jpg        1      Labrador_retriever  0.897162    True                 beagle  0.016895    True  Rhodesian_ridgeback  0.012061    True
801115127852503040                    NaN                  NaN 2016-11-22 17:28:25+00:00  <a href="http://twitter.com/download/iphone" r...  This is Bones. He's being haunted by another d...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/801115127...                12                  10  Bones  doggo    None  pupper  None           NaN          NaN 2016-11-22 17:28:25           [0, 120]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 801115094935449600, 'id_str'...            8536      False  This is Bones. He's being haunted by another d...  NaN  801115127852503040                    None                        NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           2258      False              NaN      False  {'id': 4196983835, 'id_str': '4196983835', 'na...    https://pbs.twimg.com/media/Cx4h7zHUsAAqaJd.jpg        1               dalmatian  0.823356    True         English_setter  0.094602    True             bluetick  0.021953    True
785639753186217984                    NaN                  NaN 2016-10-11 00:34:48+00:00  <a href="http://twitter.com/download/iphone" r...  This is Pinot. He's a sophisticated doggo. You...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/785639753...                10                  10  Pinot  doggo    None  pupper  None           NaN          NaN 2016-10-11 00:34:48           [0, 140]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 785639740259303424, 'id_str'...            8241      False  This is Pinot. He's a sophisticated doggo. You...  NaN  785639753186217984                    None                        NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           2395      False              NaN      False  {'id': 4196983835, 'id_str': '4196983835', 'na...    https://pbs.twimg.com/media/CucnLmeWAAALOSC.jpg        1               porcupine  0.978042   False             sea_urchin  0.006106   False              echidna  0.005442   False

I see that tweets *can* have more than one dog type, so I'm glad I didn't try to collapse it all into one column!

I'll keep the separate columns but convert them to binary to make them easier to handle later and to more easily support any regression testing I might decide to do.

In [195]:
# Convert the dog type columns to zeros and ones
# for easier handling later
for doggie in ['doggo', 'floofer', 'pupper', 'puppo']:
    df.replace({doggie: {doggie: 1, 'None': 0}}, inplace=True)

In [196]:
df.doggo.value_counts()

0    1985
1      80
Name: doggo, dtype: int64

In [197]:
df.query('doggo == 1 and pupper == 1').head()

                    in_reply_to_status_id  in_reply_to_user_id                 timestamp                                             source                                               text  retweeted_status_id  retweeted_status_user_id retweeted_status_timestamp                                      expanded_urls  rating_numerator  rating_denominator   name  doggo  floofer  pupper  puppo  contributors  coordinates          created_at display_text_range                                           entities                                  extended_entities  favorite_count  favorited                                          full_text  geo              id_str in_reply_to_screen_name  in_reply_to_status_id_str  in_reply_to_user_id_str  is_quote_status lang place  possibly_sensitive  possibly_sensitive_appealable quoted_status  quoted_status_id  quoted_status_id_str quoted_status_permalink  retweet_count  retweeted retweeted_status  truncated                                               user                                            jpg_url  img_num                      p1   p1_conf  p1_dog                     p2   p2_conf  p2_dog                   p3   p3_conf  p3_dog
817777686764523521                    NaN                  NaN 2017-01-07 16:59:28+00:00  <a href="http://twitter.com/download/iphone" r...  This is Dido. She's playing the lead role in "...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/817777686...                13                  10   Dido      1        0       1      0           NaN          NaN 2017-01-07 16:59:28           [0, 140]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 817777588030476288, 'id_str'...           11249      False  This is Dido. She's playing the lead role in "...  NaN  817777686764523520                    None                        NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           2879      False              NaN      False  {'id': 4196983835, 'id_str': '4196983835', 'na...  https://pbs.twimg.com/ext_tw_video_thumb/81777...        1  curly-coated_retriever  0.733256    True  flat-coated_retriever  0.214145    True  Irish_water_spaniel  0.029769    True
808106460588765185                    NaN                  NaN 2016-12-12 00:29:28+00:00  <a href="http://twitter.com/download/iphone" r...  Here we have Burke (pupper) and Dexter (doggo)...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/808106460...                12                  10   None      1        0       1      0           NaN          NaN 2016-12-12 00:29:28           [0, 120]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 808106447573843970, 'id_str'...            9241      False  Here we have Burke (pupper) and Dexter (doggo)...  NaN  808106460588765184                    None                        NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           2372      False              NaN      False  {'id': 4196983835, 'id_str': '4196983835', 'na...    https://pbs.twimg.com/media/Czb4iFRXgAIUMiN.jpg        1        golden_retriever  0.426183    True     Labrador_retriever  0.257447    True       Great_Pyrenees  0.126482    True
802265048156610565           7.331095e+17         4.196984e+09 2016-11-25 21:37:47+00:00  <a href="http://twitter.com/download/iphone" r...  Like doggo, like pupper version 2. Both 11/10 ...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/802265048...                11                  10   None      1        0       1      0           NaN          NaN 2016-11-25 21:37:47            [0, 45]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 802265039247904768, 'id_str'...            6984      False  Like doggo, like pupper version 2. Both 11/10 ...  NaN  802265048156610560               dog_rates               7.331095e+17             4.196984e+09            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           1478      False              NaN      False  {'id': 4196983835, 'id_str': '4196983835', 'na...    https://pbs.twimg.com/media/CyI3zXgWEAACQfB.jpg        1      Labrador_retriever  0.897162    True                 beagle  0.016895    True  Rhodesian_ridgeback  0.012061    True
801115127852503040                    NaN                  NaN 2016-11-22 17:28:25+00:00  <a href="http://twitter.com/download/iphone" r...  This is Bones. He's being haunted by another d...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/801115127...                12                  10  Bones      1        0       1      0           NaN          NaN 2016-11-22 17:28:25           [0, 120]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 801115094935449600, 'id_str'...            8536      False  This is Bones. He's being haunted by another d...  NaN  801115127852503040                    None                        NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           2258      False              NaN      False  {'id': 4196983835, 'id_str': '4196983835', 'na...    https://pbs.twimg.com/media/Cx4h7zHUsAAqaJd.jpg        1               dalmatian  0.823356    True         English_setter  0.094602    True             bluetick  0.021953    True
785639753186217984                    NaN                  NaN 2016-10-11 00:34:48+00:00  <a href="http://twitter.com/download/iphone" r...  This is Pinot. He's a sophisticated doggo. You...                  NaN                       NaN                        NaN  https://twitter.com/dog_rates/status/785639753...                10                  10  Pinot      1        0       1      0           NaN          NaN 2016-10-11 00:34:48           [0, 140]  {'hashtags': [], 'symbols': [], 'user_mentions...  {'media': [{'id': 785639740259303424, 'id_str'...            8241      False  This is Pinot. He's a sophisticated doggo. You...  NaN  785639753186217984                    None                        NaN                      NaN            False   en  None                 0.0                            0.0           NaN               NaN                   NaN                     NaN           2395      False              NaN      False  {'id': 4196983835, 'id_str': '4196983835', 'na...    https://pbs.twimg.com/media/CucnLmeWAAALOSC.jpg        1               porcupine  0.978042   False             sea_urchin  0.006106   False              echidna  0.005442   False